.nav-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  background-image: url("../assets/building.jpg"); /* Update this path */
  background-size: cover;
  background-position: center;
}
