<div
  class="container d-flex justify-content-center align-items-center flex-wrap"
>
<div class="border-container">
  <form>
    <div class="form-outline">
      <label for="subject">Betreff*</label>
      <input type="text" id="subject" class="form-control" placeholder="Betreff">
    </div>
    <div class="form-outline">
      <label for="email">E-Mail</label>
      <input type="email" id="email" class="form-control" placeholder="E-Mail">
    </div>
    <div class="form-outline">
      <label for="message">Nachricht</label>
      <textarea id="message" class="form-control" rows="5" placeholder="Nachricht"></textarea>
    </div>
    <button type="submit" class="btn btn-block btn-primary">Senden</button>
  </form>
</div>
<div class="border-container">
  <h2>Postfach</h2>
  <p>Keine Nachrichten vorhanden</p>
</div>
