<div
  class="container d-flex justify-content-center align-items-center flex-wrap"
>
  <div class="border-container welcome-container">
    <div class="welcome-text">
      <h1 class="title">Wilkommen in unserem Kundenportal!</h1>
      <p>
        Seit über 60 Jahren unterstützen wir Großprojekte in Immobilien,
        Transport und erneuerbaren Energien. Mit der Finanzkraft von 400
        Sparkassen und Landesbanken bieten wir sichere, maßgeschneiderte
        Lösungen.
      </p>
      <p>
        Loggen Sie sich ein, um eine Übersicht über Ihre Verträge und Assets zu
        erhalten und Nachrichten zu senden. Erfahren Sie mehr über unsere
        erfolgreichen Projekte und unsere Kompetenz in der Realisierung
        anspruchsvoller Investitionsvorhaben.
      </p>
      <p>
        Loggen Sie sich ein, um Ihre individuellen Angebote und Services zu
        entdecken.
      </p>
    </div>
  </div>

  <div class="border-container login-container">
    <form>
      <h1 class="title">Login</h1>
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col text-end">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button
        type="button"
        data-mdb-button-init
        data-mdb-ripple-init
        class="btn btn-primary btn-block mb-4"
        (click)="login()"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
