.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.welcome-text p {
  font-size: 16px;
  color: #333;
}

.form-outline {
  margin-bottom: 20px;
}

.form-outline input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.form-outline label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.btn-block {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
