/* You can add global styles to this file, and also import other style files */
// Variable overrides first
$primary: #e51400;
$secondary: #cbc4bc;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
  display: grid;
}
